body{font-family:'Open Sans',sans-serif!important;height:100vh;background-image:url(../img/clouds.jpeg);background-size:cover;align-items:center;text-align:center}
.title{color:#fff;transition:all 1s ease-in-out;animation:cloud-show 2s infinite}
.container{display:flex!important;justify-content:center!important}
.eventBox{display:flex;padding-top:3%;padding-left:15px;border-left:6px solid #077eff}
.cloud{justify-content:space-evenly;margin-top:10%;height:auto;width:100%;padding:20px;background:rgb(255,255,255,.7);border-radius:15px}
.datePreview{text-align:center;display:block}
.dayPreview{font-size:55px;margin:0;font-weight:300;text-align:center;line-height:33px;color:#044b99}
.monthPreview{padding-left:5%;margin-top:0;font-size:24px;line-height:33px;text-align:center;font-weight:600;color:#077eff}
.infoBox{margin-top:-5px;margin-left:5%;padding:0;text-align:center}
.description{font-size:18px;line-height:24px;text-align:left;color:rgb(42,73,137,.5)}
.eventTitle{font-weight:600;margin:0;font-size:24px;text-align:left;color:#2a4989}